
.error_page{
  display:flex;
  justify-content:space-between;
  align-items: center;

  width: 80%;
  margin: 0 auto;

  font-family: Roboto, sans-serif;
 
}
img{
  width: 50%;
  height: 50%;
  
}
.lost {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  text-align: center;

  width: 30vw;

}

.button{
  width: 20rem;
  height: 4rem;
  background-color: #f90f15;
  border-radius: 2rem;
  color: #fff;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

}

.button:active{
  background-color: #f90f15
}